<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="~/lib/jquery-3.3.1.js"></script>
    <script src="~/lib/popper.js"></script>

    <script src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Layout_Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    @RenderSection("style", required: false)
    @RenderSection("script", required: false)

</head>
<body id="body">

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            layoutSite.onclicks();
        });

        var layoutSite = {
            onclicks: function () {
                document.getElementById("menu").onclick = layoutSite.menu;

            },
            menu: function () {
                if ($("#navbarSite").hasClass("transicao")) {
                    if ($('#body').hasClass('over')) {
                        $('#body').removeClass('over');
                    }
                    $('#btn-entrar').removeClass('btn btn-danger vermelho shadow rounded');
                    $('#navbarSite').addClass('reverso');
                    $('#navbarSite').removeClass('transicao');
                    $('#btn-entrar').removeClass('btn btn-dark mx-auto w-50');
                }
                else {
                    if ($("#navbarSite").hasClass("reverso")) {

                        $('#navbarSite').removeClass('reverso');
                    } if (!$('#body').hasClass('over')) {

                        $('#body').addClass('over');
                    }

                    $('#btn-entrar').addClass('btn btn-danger vermelho shadow rounded');
                    $('#navbarSite').addClass('transicao');
                }
            }
        }


    </script>


    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light branco shadow-sm">
        <div class="container mw-100  mx-auto">
            <div class="row col-12">
                <div class="col-lg-1 col-sm-2 col-4">
                    <a href="/Home/Home" class=" text-body navbar-brand">
                        <img src="~/images/Avras.png" class="logo float-left" alt="Logotipo da empresa" />
                    </a>
                </div>
                <button class="navbar-toggler fixo mt-2" type="button" id="menu" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-lg-11 menu" id="navbarSite">
                    <div class="col-lg-2 mt-5 mt-lg-n5">
                        <a href="/Home/Sobre" class="text-body nav-link texto-branco text-center mt-sm-5">Sobre Nós</a>
                    </div>
                    <div class="col-lg-2 my-3 my-lg-0">
                        <a href="/Usuario/Aluguel" class="text-body nav-link texto-branco text-center">Alugar Salão</a>
                    </div>
                    <div class="col-lg-2 my-3 my-lg-0">
                        <a href="/Home/PerguntasFrequentes" class="text-body nav-link texto-branco text-center">Perguntas Frequentes</a>
                    </div>
                    <div class="col-lg-2 my-3 my-lg-0">
                        <a href="/Usuario/Perfil" class="text-body nav-link texto-branco text-center">Tornar-se Sócio</a>
                    </div>
                    <div class="col-lg-2 my-3 my-lg-0">
                        <a href="/Home/Contato" class="text-body nav-link texto-branco text-center">Contato</a>
                    </div>
                    <div class="col-lg-2 my-5 my-lg-0">
                        @if (Context.Request.Cookies["email"] != null && Context.Request.Cookies["senha"] != null)
                        {
                            <h2><a href="/Usuario/Logout" class="text-body nav-link txt-preto texto-branco text-center" id="btn-entrar">Sair</a></h2>
                        }
                        else
                        {
                            <h2><a href="/Usuario/Index" class="text-body nav-link txt-preto texto-branco text-center" id="btn-entrar">Entrar</a></h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>





    <div class="mb-5 main">
        @RenderBody()
    </div>

    <footer class="bg-dark mt-5 mt-auto baixo" id="rodape">
        <div class="container row mx-auto">
            <div class="col-12 col-lg-6 text-center">
                <a href="/Home/Sobre" class="text-decoration-none text-light"><span class="my-3">Quem somos nós?</span></a><br />
                <a href="/Home/Inicio" class="text-decoration-none text-light my-5"><span class="my-3">Torne-se sócio</span></a><br />
                <a href="/Home/Alugueis" class="text-decoration-none text-light my-5">Agendar Evento</a><br />
            </div>
            <div class="col-12 col-lg-6 text-center text-light">
                <a href="#" class="text-decoration-none text-light my-5">Parceiros</a><br />
                <a href="/Home/Contato" class="text-decoration-none text-light my-5">Contato</a><br />
                <a href="/Home/PerguntasFrequentes" class="text-decoration-none text-light my-5">Perguntas frequentes</a><br />
</div>
        </div>
        <div class="container text-center">
            <img src="~/images/Avras.png" class="logo mx-auto w-25" alt="Logotipo da empresa" /><br />
            <span class="text-light">Todos os direitos reservados.</span>
            <span class="text-light"> © @DateTime.Now.Year A.V.R.A.S</span>
        </div>
    </footer>

</body>
</html>
