
@{
    ViewData["Title"] = "Alterar Senha";
    Layout = "~/Views/Shared/_Layout_Painel.cshtml";
}

<style>
    body {
    }

    #img {
        width: 120px !important;
    }

    form {
        height: 600px;
        bottom: -180px !important;
        width: 100%;
        top: -70px;
    }

    .centralizado {
        margin: 0 auto;
        float: none;
    }
</style>
@section script{
    <script>
         function validaSenha() {
            var senha = $("#senha").val();
            if ((senha == "") || (senha.length < 4) || (senha.length > 8)) {
                $("#senha").focus();
                $("#senha").addClass("is-invalid");
                if ($("#senha").hasClass("is-valid"))
                    $("#senha").removeClass("is-valid");
                return true;
            }
            else {
                $("#senha").focus();
                $("#senha").addClass("is-valid");
                if ($("#senha").hasClass("is-invalid"))
                    $("#senha").removeClass("is-invalid");
                return false;
            }
        }
        function validaNovaSenha() {
            var novaSenha = $("#novaSenha").val();
            if ((novaSenha == "") || (novaSenha.length < 4) || (novaSenha.length > 8)) {
                $("#novaSenha").focus();
                $("#novaSenha").addClass("is-invalid");
                if ($("#novaSenha").hasClass("is-valid"))
                    $("#novaSenha").removeClass("is-valid");
                return true;
            }
            else {
                $("#novaSenha").focus();
                $("#novaSenha").addClass("is-valid");
                if ($("#novaSenha").hasClass("is-invalid"))
                    $("#novaSenha").removeClass("is-invalid");
                return false;
            }
        }
        function Antenticar() {
            $("#carregando").html('<i class="fas fa-spinner fa-spin">');
            var form = {
                email: $("#email").val(),
                senha: $("#senha").val(),
                novaSenha: $("#novaSenha").val(),
            };

            $.ajax({
                type: 'POST',
                url: '/Usuario/AlterarSenha',
                data: form,
                success: function (result) {
                    if (result != null && result != "") {
                        if (result > 0) {
                            
                        window.location.href = "/Home/Inicio";
                        }
                        if (result < 0) {
                            $('#Erro').modal('show');
                            $('#titulo').html("Ops... Ocorreu um erro!");
                            $('#corpo').html("Tente novamente.");
                            $('#botao').html('<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">Cancelar</button>');
                            $("#carregando").html('');
                        }
                        else {
                            $('#Erro').modal('show');
                            $('#titulo').html("Ops... Ocorreu um erro!");
                            $('#corpo').html(result);
                            $('#botao').html('<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">Cancelar</button>');
                            $("#carregando").html('');
                        }
                    }
                    

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#Erro').modal('show');
                    $('#titulo').html("Ops... Ocorreu um erro!");
                    $('#corpo').html("Tente novamente.");

                }
            });
    }
    </Script>
}
        

            <div class="container ">
                <div class="col-md-10 mx-auto">
                    <div class="container d-block col-11 col-lg-8 rounded center-block " id="pag1">
                        <div class="container my-5">
                            <div class="row justify-content-center pt-5">

                                <div class="col-lg-12 col-12 justify-content-center" align="center">
                                    <span> <img src="~/images/icones-sistema/login.png" id="img" class="logo" alt="Imagem de 3 pessoas uma ao lado da outra simbolizando uma sociedade" /></span>
                                </div>
                                <div class="col-lg-12 col-12 align-self-center justify-content-center float-none" align="center">
                                    <span id="carregando"></span>
                                </div>

                            </div>

                        </div>
                        <h5 class="mb-3 text-black">Login:</h5>
                        <div class="row">
                            <div class="form-group col-12">
                                <label class="text-black" for="email">Email:</label>
                                <input type="email" class="form-control " id="email" placeholder="Seu email aqui!" required>
                                <div class="valid-feedback" id="valida-email-valid">
                                    @@ Verifique Corretamente seu email. Sem ele será impossível se conectar ao sistema!
                                </div>
                                <div class="invalid-feedback" id="valida-nome">
                                    Informe um email válido!
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-12">
                                <label class="text-black" for="nome">Senha:</label>
                                <input type="text" class="form-control" id="senha" onchange="validaSenha()" placeholder="Sua senha aqui!" required>
                                <div class="valid-feedback" id="valida-nome-valid">
                                </div>
                                <div class="invalid-feedback" id="valida-nome">
                                    Informe uma senha com 4 a 8 caracteres!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <label class="text-black" for="nome">Nova Senha:</label>
                                <input type="text" class="form-control" id="novaSenha" onchange="validaNovaSenha()" placeholder="Sua nova senha aqui!" required>
                                <div class="valid-feedback" id="valida-nome-valid">
                                </div>
                                <div class="invalid-feedback" id="valida-novaSenha">
                                    Informe uma senha com 4 a 8 caracteres!
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-danger float-right my-3 col-5" onclick="javascript: Antenticar();" type="button">Alterar</button>
                        <button class="btn btn-light float-left my-3 col-5" onclick="window.location.href('/Usuario/Perfil');" type="button">Cancelar</button>

                    </div>

                </div>


            </div>

            <div class="modal" id="Erro" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titulo"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="corpo">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger vermelho txt-branco" data-dismiss="modal">Okay</button>
                        </div>
                    </div>
                </div>
            </div>