
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Painel.cshtml";
}
<style>
    body{
   
    
    #img{
        width:120px !important;
    }
    form {
        height: 600px;
        bottom: -180px !important;
        width: 100%;
        top: -70px;
    }
    .centralizado {
        margin: 0 auto;
        float: none;
    }
</style>
<script>
    function Antenticar() {
        var form = {
            email: $("#email").val(),
            senha: $("#senha").val(),
        };
        
        $.ajax({
            type: 'POST',
            url: '/Usuario/Autenticar',
            data: { Email: form.email, Senha: form.senha },
            success: function (result) {
                if (result != null && result != "") {
                    window.location.href = "/Usuario/Cadastro";
                }
                else {
                    $('#Erro').modal('show');
                    $('#titulo').html("Ops...");
                    $('#corpo').html("Parece que houve um problema com algum campo preenchido. Verifique se os dados foram preenchidos corretamente.");

                    
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#Erro').modal('show');
                $('#titulo').html("Ops... Ocorreu um erro!");
                $('#corpo').html("Tente novamente.");

            }
        });
    }
</script>
<div class="container ">
    <div class="col-md-8 mx-auto">
            <div class="container d-block col-11 col-lg-8 rounded center-block " id="pag1">
                <div class="container my-5">
                    <div class="row justify-content-center pt-5">
                        <div class="col-lg-12 col-12 align-self-center justify-content-center float-none" align="center">
                            <h2 class="text-black"> Login </h2><span id="carregando"></span>
                        </div>
                        <div class="col-lg-12 col-12 justify-content-center" align="center">
                            <span> <img src="~/images/socio.png" id="img" class="logo" alt="Imagem de 3 pessoas uma ao lado da outra simbolizando uma sociedade" /></span>
                        </div>

                    </div>

                </div>
                <h5 class="mb-3 text-black">Login:</h5>
                <div class="row">
                    <div class="form-group col-12">
                        <label class="text-black" for="email">Email:</label>
                        <input type="email" class="form-control " id="email" placeholder="Seu email aqui!" required>
                        <div class="valid-feedback" id="valida-email-valid">
                            @@ Verifique Corretamente seu email. Sem ele será impossível se conectar ao sistema!
                        </div>
                        <div class="invalid-feedback" id="valida-nome">
                            Informe um email válido!
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12">
                        <label class="text-black" for="nome">Nome:</label>
                        <input type="text" class="form-control" id="senha" placeholder="Sua senha aqui!" required>
                        <div class="valid-feedback" id="valida-nome-valid">
                        </div>
                        <div class="invalid-feedback" id="valida-nome">
                            Informe um nome com no mínimo 4 caracteres!
                        </div>
                    </div>
                </div>

                <button class="btn btn-dark float-left my-3 " onclick="javascript: Antenticar();" type="button">Entrar</button>
            </div>
        
    </div>
   

</div>

