
@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout_Painel.cshtml";
}
@section script{ 
    <script>
        function validaNome() {
            var nome = $("#nome").val();
            if ((nome == "") || (nome.length < 4)) {
                $("#nome").focus();
                $("#nome").addClass("is-invalid");
                if ($("#nome").hasClass("is-valid"))
                    $("#nome").removeClass("is-valid");
                return true;
            }
            else {
                $("#nome").focus();
                $("#nome").addClass("is-valid");
                if ($("#nome").hasClass("is-invalid"))
                    $("#nome").removeClass("is-invalid");
                return false;
            }
        }
        function FormatarDataPadraoParaIngles(date) {
            var data = date.split("/");
            var dia = data[0];
            var mes = data[1];
            var ano = data[2];

            date = ano + "-" + mes + "-" + dia;

            return date;
        }
        function FormatarDataInglesParaPadrao(date) {
            var data = date.split("-");
            var dia = data[0];
            var mes = data[1];
            var ano = data[2];

            date = dia + "/" + mes + "/" + ano;

            return date;
        }
        function formatarMoeda() {
            var elemento = document.getElementById('valor');
            var valor = elemento.value;

            valor = valor + '';
            valor = parseInt(valor.replace(/[\D]+/g, ''));
            valor = valor + '';
            valor = valor.replace(/([0-9]{2})$/g, ",$1");

            if (valor.length > 6) {
                valor = valor.replace(/([0-9]{3}),([0-9]{2}$)/g, ".$1,$2");
            }
            elemento.value = valor;
            if (valor == "NaN" || valor == 0) {
                $("#valor").focus();
                $("#valor").addClass("is-invalid");
                if ($("#valor").hasClass("is-valid"))
                    $("#valor").removeClass("is-valid");
                return true;
            }
            else {
                $("#valor").focus();
                $("#valor").addClass("is-valid");
                if ($("#valor").hasClass("is-invalid"))
                    $("#valor").removeClass("is-invalid");
                return false;
            }
        }
        function validaData() {
            var dataNascimento = $("#data_vencimento").val();

            var dataNascimento = dataNascimento.split("-");
            var data = new Date(dataNascimento[0], dataNascimento[1] - 1, dataNascimento[2]);
            if ((data >= new Date) || (dataNascimento == "")) {

                $("#data-vencimento").focus();
                $("#data-vencimento").addClass("is-valid");
                if ($("#data-vencimento").hasClass("is-invalid"))
                    $("#data-vencimento").removeClass("is-invalid");
                return false
            }
            else {
                $("#data-vencimento").focus();
                $("#data-vencimento").addClass("is-invalid");
                if ($("#data-vencimento").hasClass("is-valid"))
                    $("#data-vencimento").removeClass("is-valid");
                return true;
            }
        }
        function IsEmail(email) {
            var exclude = /[^@@-.w]|^[_@@.-]|[._-]{2}|[@@.]{2}|(@@)[^@@]*1/;
            var check = /@@[w-]+./;
            var checkend = /.[a-zA-Z]{2,3}$/;
            if (((email.search(exclude) != -1) || (email.search(check)) == -1) || (email.search(checkend) == -1)) { return false; }
            else { return true; }
        }
        function validaEmail() {
            var email = $("#email").val();
            if (email.includes("@@")) {
                $("#email").focus();
                $("#email").addClass("is-valid");
                if ($("#email").hasClass("is-invalid"))
                    $("#email").removeClass("is-invalid");
                return false
            }
            else {
                $("#email").focus();
                $("#email").addClass("is-invalid");
                if ($("#email").hasClass("is-valid"))
                    $("#email").removeClass("is-valid");
                return true;
            }
        }
        function somenteNumeros(num) {
            var er = /[^0-9.]/;
            er.lastIndex = 0;
            var campo = num;
            if (er.test(campo.value)) {
                campo.value = "";
            }
            if (num.value == "" || num.value == 0) {
                $("#numero").focus();
                $("#numero").addClass("is-invalid");
                if ($("#numero").hasClass("is-valid"))
                    $("#numero").removeClass("is-valid");
                return false;
            }
            else {
                $("#numero").focus();
                $("#numero").addClass("is-valid");
                if ($("#numero").hasClass("is-invalid"))
                    $("#numero").removeClass("is-invalid");
                return true;
            }
        }
        function Finalizar() {
            var validaNome = true;
            if (validaNome()) {
                valida = false;
            }
            if (!validaEmail($("#email").val())){
                valida = false;
            }
            if (validaData()) {
                valida = false;
            }
            if (formatarMoeda()) {
                valida = false;
            }
            if (somenteNumeros($("#numero"))){
                valida = false;
            }

        }
    </script>
}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-1 col-12" align="center">
                <span> <img src="~/images/patrocinadores.png" class="logo" alt="Imagem de uma mão segurando dinheiro" /></span>
            </div>
            <div class="col-lg-6 col-12 align-self-center float-none">
                <h2>Cadastro de Patrocinadores</h2>
            </div>
        </div>
    </div>

    <form class="mb-5">
        <div class="container">
            <div class="row">
                <div class="form-group col-12">
                    <h5 class="mb-3">Dados do Patrocinador:</h5>
                    <input type="hidden" id="id" value="" />
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" onkeydown="javascript: validaNome();" placeholder="Seu nome aqui!" required>
                    <div class="valid-feedback" id="valida-nome-valid">
                    </div>
                    <div class="invalid-feedback" id="valida-nome">
                        Informe um nome com no mínimo 4 caracteres!
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" onkeydown="javascript: validaEmail();" placeholder="Seu email aqui!" required>
                    <div class="valid-feedback" id="valida-email-valid">
                        @@ Verifique Corretamente seu email. Sem ele será impossível se conectar ao sistema!
                    </div>
                    <div class="invalid-feedback" id="valida-nome">
                        Informe um email válido!
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-12 col-lg-6">
                    <label for="data-vencimento">Data de vencimento do contrato:</label>
                    <input type="date" class="form-control" id="data-vencimento" required>
                    <div class="valid-feedback" id="valida-data-vencimento-valid">
                    </div>
                    <div class="invalid-feedback" id="valida-data-vencimento">
                    </div>
                </div>
                <div class="form-group col-12 col-lg-6">
                    <label for="valor">Valor de patrocinio:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">R$</span>
                        </div>
                        <input type="text" pattern="(\b[0-9]\b)/g" class="form-control" onkeyup="formatarMoeda();" id="valor" name="valor" value="0000" aria-label="Quantia">
                    </div>
                </div>
            </div>         
            <div class="row">
                <div class="form-group col-lg-6 col-12">
                    <label for="numero">Quantidade de parcelas:</label>
                    <input type="text" pattern="(\b[0-9]\b)/g" onkeyup="somenteNumeros(this);" class="form-control" id="numero" required>
                    <div class="valid-feedback" id="valida-numero-valid">
                    </div>
                    <div class="invalid-feedback" id="valida-numero">
                    </div>
                </div>

            </div>
          
            <button class="btn btn-dark float-right my-3 pg3" onclick="javascript: usuario.finalizar();" type="button">Finalizar</button>

        </div>
    </form>