
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout_Painel.cshtml";
}

    <div class="card-deck center-block container mx-auto mt-4">
        <div class="row col-12">
            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Usuario/Aniversariantes';">
                <img src="~/images/icones-sistema/confetti.png" class=" mt-4 logo mx-auto" alt="Imagem de balões de notificações" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Usuario/Aniversariantes" class="text-dark"> Aniversariantes </a></p>
                </div>
            </div>

            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Vendas/Venda';">
                <img src="~/images/icones-sistema/caixa-registradora.png" class=" mt-4 logo mx-auto" alt="Imagem de um gráfico de linhas" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Venda/Venda" class="text-dark"> Vendas </a></p>
                </div>
            </div>


        </div>
        <div class="row col-12">
            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Usuario/Usuario';">
                <img src="~/images/icones-sistema/socio.png" class="mt-4 logo mx-auto " alt="Imagem de 3 pessoas uma ao lado da outra simbolizando uma sociedade" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Usuario/Usuario" class="text-dark"> Gerenciar Usuarios </a></p>
                </div>
            </div>

            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Estoque/Estoque';">
                <img src="~/images/icones-sistemA/estoque.png" class=" mt-4 logo mx-auto" alt="Imagem de uma prancheta para Anotações" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Estoque/Estoque" class="text-dark">Gerenciar Estoque</a></p>
                </div>
            </div>

        </div>
        <div class="row col-12">
            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Diretoria/Diretoria';">
                <img src="~/images/icones-sistema/diretoria.png" class=" mt-4 logo mx-auto" alt="Imagem de balões de notificações" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Diretoria/Diretoria" class="text-dark"> Gerenciar Diretoria </a></p>
                </div>
            </div>

            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Financas/Financas';">
                <img src="~/images/icones-sistema/finanças.png" class=" mt-4 logo mx-auto" alt="Imagem de um gráfico de linhas" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Financas/Financas" class="text-dark"> Gerenciar Finanças </a></p>
                </div>
            </div>

        </div>
        <div class="row col-12">
            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Patrimonio/Patrimonio';">
                <img src="~/images/icones-sistema/patrimonio.png" class=" mt-4 logo mx-auto" alt="Imagem de balões de notificações" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Patrimonio/Patrimonio" class="text-dark"> Gerenciar Patrimonio </a></p>
                </div>
            </div>

            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Patrocinador/Patrocinador';">
                <img src="~/images/icones-sistema/patrocinadores.png" class=" mt-4 logo mx-auto" alt="Imagem de um gráfico de linhas" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Patrocinador/Patrocinador" class="text-dark"> Gerenciar Patrocinador </a></p>
                </div>
            </div>

        </div>
        <div class="row col-12">

            <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Mensalidades/Mensalidades';">
                <img src="~/images/icones-sistema/mensalidades.png" class=" mt-4 logo mx-auto" alt="Imagem de um gráfico de linhas" />
                <div class="card-body">
                    <p class="text-center"> <a href="/Mensalidades/Mensalidades" class="text-dark"> Gerenciar Mensalidades </a></p>
                </div>
            </div>

        </div>
    </div>

