
@{
    ViewData["Title"] = "AdicionarTipo";
    Layout = "~/Views/Shared/_Layout_Painel.cshtml";
}

<div class="container my-5 ">
    <div class="row ">
        <div class="col-lg-1 col-12" align="center">
            <span> <img src="~/images/settings.png" class="logo" alt="Imagem de 1 engrenagem" /></span>
        </div>
        <div class="col-lg-6 col-12 align-self-center float-none">
            <h2> Cadastro de Produtos </h2><span id="carregando"></span>
        </div>
    </div>

</div>
<div class="container d-block">
    <input type="hidden" id="id" value="" />
    <div class="row">
        <div class="form-group col-12">
            <label for="nome">Tipos:</label>
            <select class="form-group">

            </select>
        </div>
    </div>
</div>

