
@{
    ViewData["Title"] = "Estoque";
    Layout = "~/Views/Shared/_Layout_Painel.cshtml";
}

<h4 class="text-center my-3 my-lg-5">Gerenciar Estoque</h4>
<div class="card-deck center-block container mx-auto">
    <div class="row col-12">
        <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Estoque/AdicionarProduto';">
            <img src="~/images/estoque.png" class="mt-4 logo mx-auto " alt="Imagem de um homem em frente a caixas empilhadas" />
            <div class="card-body">
                <p class="text-center"> <a href="/Estoque/AdicionarProduto" class="text-dark"> Adicionar Produtos </a></p>
            </div>
        </div>

        <div class="card col-12 col-lg-6 border-light mx-auto" onclick="window.location.href='/Estoque/ListarProdutos';">
            <img src="~/images/Listar.png" class=" mt-4 logo mx-auto" alt="Imagem de uma prancheta para Anotações" />
            <div class="card-body">
                <p class="text-center"> <a href="/Estoque/ListarProdutos" class="text-dark"> Produtos Cadastrados </a></p>
            </div>
        </div>
    </div>
    <div class=" row col-12">
        <div class="card col-12 col-lg-12 border-light mx-auto" onclick="window.location.href='/Estoque/ProdutoCategoria';">
            <img src="~/images/settings.png" class=" mt-4 logo mx-auto" alt="Imagem de uma engrenagem" />
            <div class="card-body">
                <p class="text-center"> <a href="/Estoque/ProdutoCategoria" class="text-dark"> Categoria do Produto </a></p>
            </div>
        </div>
    </div>
</div>
