.logo {
    width: 50px !important;
}
/*body {
    margin: 0;
}*/
html {
    height: 100%;
    min-height: 100%;
}

body {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}
/*main {
    display: block;
    min-height: 100vh;
    min-height: -webkit-calc(100vh - 100px);
    min-height: -moz-calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    position: relative;
    width: 100%;
}
*/
/*#rodape {
   
    display: block;
    min-height: 00px;
    width: 100%;
}*/





/*#rodape {
    background: yellow;
    position: absolute;
}*/
.branco {
    background-color: white !important;
}

.txt-branco {
    color: white !important;
}

.txt-preto {
    color: black !important;
}

.vermelho {
    background-color: #BC2323 !important;
}

.teste1 {
    background-color: #BC2323 !important;
}

.teste2 {
    background-color: black !important;
}

#rodape {
    min-height: 100px;
    width: 100%;
}

@media screen and (max-width: 998px) {
    .fixo {
        position: absolute !important;
        float: right !important;
        right: 0px !important;
    }

    .over {
        overflow: hidden !important;
    }

    .menu {
        position: fixed !important;
        float: left !important;
        top: 86px !important;
        bottom: 0px !important;
        left: 1000px;
        right: 0px;
        background-color: #571C1C !important;
        display: block !important;
        z-index: 150;
    }

    .margin-t {
        margin-top: 2%;
    }

    .margin-t-2 {
        margin-top: 8% !important;
    }

    .transicao {
        animation-name: abrir;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        overflow: hidden !important;
    }

    .reverso {
        animation-name: fechar;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes abrir {
        from {
            left: 1000px;
        }

        to {
            left: 0px;
        }
    }

    @-webkit-keyframes fechar {
        from {
            left: 0px;
        }

        to {
            left: 1000px;
        }
    }

    .texto-branco {
        color: white !important;
        font-size: 20px !important;
    }

    .texto-preto {
        color: black !important;
    }

    .inicio {
    }
}
